
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;500&display=swap');

* {
    padding: 0;
    margin : 0 ;
    box-sizing: border-box;
}

body {

    background-color: rgb(240, 240, 240);
    font-family: 'Mali', cursive;

    

}

header {

    text-align: center;
   
}


h1 {

    display: inline-block;
    font-size: 3rem;
    font-weight : 500 ;
    background-color: #ffd000 ;
    box-shadow: inset 3px 3px 5px rgb(229, 229, 229) , inset -3px -3px 5px rgb(229, 229, 229) ;
    border-radius: 20px;
    padding: 8px 20px;
    user-select: none;
    margin: 80px;
    
}

.todos {

    margin : 10px auto 17px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;

    transition: width 0.3s;
    
}

.vorodi {

    display: flex;
    align-items: center;
}

.vorodi div {

    display: flex;
    align-items: center;
}

.vorodi p {

    margin: 0 10px;
    user-select:none;
}


.todos .vorodi input , .todos .vorodi button {

    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: #fff;
    font-family: iranyekanwebregular;

}

.todos .vorodi input {

    border-radius: 50px 0 0 50px;
    width: 30rem;
}

.todos .vorodi button i {

    vertical-align: middle;
    
}

.todos .vorodi button {
   
    border-radius: 0 50px 50px 0;
    padding: 0.5rem 1rem;
    color : black;
    cursor: pointer;
    background-color: #ffd0004a;
    -webkit-tap-highlight-color: transparent;
    transition : all 0.3s ;
    
}

.todos .vorodi button:hover {

    background-color: #ffd000;
   
}

.filter {

    display: flex;
    align-items: center;
    position: relative;

}

.todo-filter {

    padding: 0.5rem 1rem 0.5rem 1rem ;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 50px 50px 50px 50px;
    appearance: none;
    cursor: pointer;
    width: 15rem;

   
}

.filter::after{

    content: "\1F447";
    position:absolute;
    right: 0;
    padding: 1rem 0.5rem 1rem;
    cursor: pointer;
    pointer-events: none;

}


.container{

    background-color : #fff;
    width: 1200px;
    margin : 0 auto 100px ;
    box-shadow: 4px 4px 6px 0px rgba(173,173,173,0.6);
    border-radius: 8px;
    min-height: 500px;
    padding: 25px 20px;
    
    transition: width 0.3s;
}

.used {

    background-color: rgba(229, 198, 45, 0.273) ;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    margin : 10px 0;
    

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.used input {

    
    font-size: 1.2rem;
    width: 70% ;
    font-family: iranyekanwebregular ,'Mali';
    background: none;
    border : none ;
    outline: none;
   
}

.complated-btn , .trash-btn , .edite-btn {

    padding: 15px 15px;
    font-size: 0.9rem;
    line-height: 0.9rem;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 6px;
    border-radius: 0 10px 0 10px;

    transition: all 0.2s;
    
}

.complated-btn {

    background-color: lightgreen;
}

.trash-btn {

    background-color:rgb(248, 66, 66) ;
    color : #fff;
}

.edite-btn {

    background-color: rgb(99, 179, 228);

}

.trash-btn i , .complated-btn i  , .edite-btn i{
    
    pointer-events: none;
}

.complated-btn:hover , .trash-btn:hover , .edite-btn:hover {

    transform: rotateZ(-5deg);

}

.todo-list {

    display: grid;
    grid-template-columns: repeat( 2 ,minmax(auto , 50%));
    grid-column-gap: 2rem;

}


.complated {

    opacity: 0.5;
    text-decoration: line-through;

    transition: all 0.3s;

}


.clearAll {

    background-color: #bc5d50;
    color : #fff;
    -webkit-tap-highlight-color: transparent;
    border : none;
    padding: 5px 20px ;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;

    transition: background-color 0.2s;
}

.clearAll:hover {
 
    background-color: #d25f4f;
}

.save {

    border: none ;
    background-color: rgb(13, 233, 13);
    color: #fff;
    padding: 5px 6.9px;
    margin : 9px 0;
    margin-right: 6px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    

    transition: all 0.2s;
}

.save:hover {
    background-color: rgb(0, 255, 0)
}


.footer {

    display: flex;
    justify-content: center;
    margin : 30px;
}

.footer p {

    color:  rgba(96, 96, 96, 0.656);
    background-color: #fff;
    box-shadow: inset 3px 3px 3px rgb(240, 240, 240) , inset -3px -3px 3px rgb(240 , 240, 240);
    border-radius: 12px;
    padding: 5px 20px;
    font-size: 0.8rem;
    
}


@media(max-width : 1200px) {

    h1 {

        
        font-size: 2.5rem;
        margin: 80px;
        
    }

    .todos {

        width: 1000px;
       
    }

    .container{

        width: 1000px;
    }

    .vorodi p {

        font-size: 14px;
        margin: 0 10px;
    }

    .todos .vorodi input , .todos .vorodi button {

        
        font-size: 1rem;
        
    
    }

    .todos .vorodi input {

        width: 20rem;
    }

    .todo-filter {

        font-size: 0.8rem;
        width: 15rem;
    
    }

    .filter::after{

        font-size: 12px;
    
    }

    .clearAll {

       
        padding: 5px 18px ;
        font-size: 13px;
    }

    .used {

        padding: 8px 14px;
        font-size: 1rem;
        margin : 10px 0;
    }
    
    .used input {
    
        font-size: 1rem;
        width: 65% ;
    }
    
    .complated-btn , .trash-btn , .edite-btn {
    
        padding: 15px 15px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin-right: 6px;
        
    }
    
}


@media(max-width : 1000px) {

    h1 {

        
        font-size: 2rem;
        margin: 60px;
        
    }

    .todos {

        width: 800px;
       
    }

    .container{

        width: 800px;
    }

    .vorodi p {

        font-size: 13px;
        margin: 0 10px;
    }

    .todos .vorodi input , .todos .vorodi button {

        
        font-size: 0.8rem;
        
    
    }

    .todos .vorodi input {

        width: 14rem;
    }

    .todo-filter {

        font-size: 0.7rem;
        width: 13rem;
    
    }

    .filter::after{

        font-size: 11px;
    
    }

    .clearAll {

       
        padding: 5px 18px ;
        font-size: 11px;
    }

    .used {

        padding: 8px 14px;
        font-size: 0.8rem;
        margin : 10px 0;
    }
    
    .used input {
    
        font-size: 0.8rem;
        width: 60% ;
    }
    
    .complated-btn , .trash-btn , .edite-btn {
    
        padding: 15px 15px;
        font-size: 0.5rem;
        line-height: 0.5rem;
        margin-right: 6px;
        
    }
    
}

@media(max-width : 800px) {


    .todos {

        width: calc(100% - 40px);
        margin : 10px 20px 17px ;
       
    }

    .container{

        width: calc(100% - 40px);
        margin : 0 20px 10px;
    }

    .vorodi p {

        font-size: 14px;
        margin: 0 10px;
    }

    .todos .vorodi input , .todos .vorodi button {

        
        font-size: 0.8rem;
        
    
    }

    .todos .vorodi input {

        width: 14rem;
    }

    .todo-filter {

        font-size: 0.8rem;
        width: 11rem;
    
    }

    .filter::after{

        font-size: 11px;
    
    }

    .clearAll {

       
        padding: 5px 18px ;
        font-size: 0.8rem;
    }

    .todo-list {

        grid-template-columns: repeat( 1 ,auto);
        grid-column-gap: 2rem;
    
    }

    .used {

        padding: 14px 14px;
        font-size: 0.9rem;
        margin : 10px 0;
    }
    
    .used input {
    
        font-size: 0.9rem;
        width: 70% ;
    }
    
    .complated-btn , .trash-btn , .edite-btn {
    
        padding: 10px 10px;
        font-size: 0.8rem;
        line-height: 0.8rem;
        margin-right: 6px;
        
    }
    
}


@media(max-width : 730px) {

    
    .vorodi p {

        font-size: 12px;
        margin: 0 10px;
    }

    .todos .vorodi input , .todos .vorodi button {

        
        font-size: 0.6rem;
        
    
    }

    .todos .vorodi input {

        width: 12rem;
    }

    .todo-filter {

        font-size: 0.7rem;
        width: 10rem;
    
    }

    .filter::after{

        font-size: 11px;
    
    }

    .clearAll {

       
        padding: 5px 18px ;
        font-size: 0.7rem;
    }

    
    
}


@media(max-width : 663px) {


    .todos {

       flex-direction: column;
        align-items: flex-start;   
    }
    
    .vorodi  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
       
       
    }

    .vorodi div {

        width: 100%;
       
    }

    .vorodi div input {

        width: calc(80% - 40px) !important;
       
    }
   
    .vorodi p {

        font-size: 15px;
        margin: 15px 10px;
    }


    .todos .vorodi input , .todos .vorodi button {

        
        font-size: 0.9em;
        margin-bottom: 15px;
       
        
    
    }

    .todo-filter {

        font-size: 0.7rem;
        width: 10rem;
        margin-bottom: 15px;
    
    }

    .filter::after{

        font-size: 11px;
        margin-bottom: 15px;
    
    }

    .clearAll {

       
        padding: 5px 18px ;
        font-size: 0.7rem;
        margin-bottom: 15px;
    }

    
    
}

@media(max-width : 586px) {

    h1 {

       
        font-size: 1.5rem;
        margin:40px;
        
    }

    .used {

        padding: 20px 12px;
        font-size: 0.7rem;
        margin : 10px 0;
    }
    
    .used input {
    
        font-size: 0.8rem;
        width: 60% ;
    }
    
    .complated-btn , .trash-btn , .edite-btn {
    
        padding: 8px 8px;
        font-size: 0.5rem;
        line-height: 0.5rem;
        margin-right: 5px;
        
    }

    
    
}

@media(max-width : 358px) {



    .vorodi p {

        font-size: 12px;
        margin: 15px 10px;
    }

    .used {

        padding: 20px 12px;
        font-size: 0.7rem;
        margin : 10px 0;
    }
    
    .used input {
    
        font-size: 0.8rem;
        width: 50% ;
    }
    
    .complated-btn , .trash-btn , .edite-btn {
    
        padding: 7px 7px;
        font-size: 0.4rem;
        line-height: 0.4rem;
        margin-right: 5px;
        
    }

    
    
}